* {
  background-color: rgb(25, 30, 39);
  font-family: "Roboto";
  border: none;
  font-size: 15px;
  outline: 0;
}

QPushButton {
  padding: 0 30px;
  height: 40px;

  background-color: rgb(241, 168, 72);
  color: white;
}

#requestBody,
#requestHeaders,
#requestCookies,
#requestParameters {
  margin-top: 5px;
}

QScrollBar:vertical {
  border: none;
  background-color: rgb(25, 30, 39);
  width: 15px;
}

QScrollBar::handle:vertical {
  background: rgb(36, 42, 54);
  padding: 10px 0;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical,
QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
  height: 0px;
  background: none;
}

QComboBox {
  padding: 10px;

  background-color: rgb(43, 50, 65);
  color: white;
}

QComboBox QAbstractItemView {
  background-color: rgb(25, 30, 39);
  color: white;
  selection-background-color: rgb(241, 168, 72);
}

QComboBox::drop-down {
  border: none;
  background-color: rgb(43, 50, 65);
}

QComboBox::down-arrow {
  width: 10px;
  height: 10px;
  padding-right: 10px;
  image: url(./ui/down-arrow.png);
}

QLineEdit {
  padding: 0 5px;
  height: 40px;
  background-color: rgb(43, 50, 65);
  color: white;
}

QPlainTextEdit {
  background-color: rgb(43, 50, 65);
  color: white;
}

QLabel {
  color: white;
  background-color: none;
}

/* QTabBar Stuff */
QTabBar::tab {
  background-color: rgb(43, 50, 65);
  color: white;
  font-size: 12px;
}

QTabBar::tab:selected {
  background-color: rgb(36, 42, 54);
}

#tab,
#tab_2,
#tab_3,
#tab_4,
#tab_5,
#tab_6,
#tab_7,
#tab_8,
#tab_9,
#tab_10,
#tab_11,
#tab_12,
#tab_13,
#tab_14,
#tab_15 {
  background-color: rgb(36, 42, 54);
}

QTabWidget::pane,
QTabWidget::tab-bar,
QTabWidget,
QTabBar {
  border: none;
}

#historyItem {
  margin: 5px 0;

  background-color: rgb(43, 50, 65);
}

#historyList {
  margin-right: 5px;
}
